@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Inter', sans-serif;
  }
}
.scroll-to-top {
  border-radius: 19px !important;
  background-color: #6c2bd9 !important;
  & > svg {
    display: inline-block !important;
  }
}
